<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>K-for-Knowledge</title>

  <!-- Stylesheets.... -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">

      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="static/Images/logo.png" width="40" height="40" alt="" loading="lazy">
      </a>

      <!-- Main title -->
      <a class="navbar-brand" href="/">K for Knowledge</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Options -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Explore</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Support</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>

        </ul>

        <!-- Search box -->
        <form class="form-inline my-2 my-lg-0" onsubmit="return false">
          <input class="form-control mr-sm-2" type="search" placeholder="Start Searching" aria-label="Search">
          <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Find</button>
        </form>
      </div>
    </nav>
  </header>

  <!-- Addition stylesheet -->
  <link rel="stylesheet" href="static/layout/css/layout.css">
  <!-- End of header -->
  <main>
    <section>
    <div class="welcome-screen sector">
      <div class="letters">
        <span class="letter mainK">K</span>
        <span class="ml-2 letter for">f</span>
        <span class="letter for">o</span>
        <span class="letter for">r</span>
        <span class="ml-2 letter know">K</span>
        <span class="letter know">n</span>
        <span class="letter know">o</span>
        <span class="letter know">l</span>
        <span class="letter know">e</span>
        <span class="letter know">d</span>
        <span class="letter know">g</span>
        <span class="letter know">e</span>
      </div>
      <div class="getstarted">
        <a href="#info-container"><button type="button" name="button" class="btn btn-outline-success">Get Started</button></a>
      </div>
    </div>
  </section>
  <section>
    <div class="info-container sector" id="info-container">
      <div class="navarearemover"></div>
      <div class="card">
        <div class="row">
          <div class="col-8">
            <div class="cardtitle">
              Find Everything You Want learn
            </div>
            <div class="card-desc">
              You can nearly find each and every topics tutorial and lectures.
              This lectures are available on different sources. We just combined them in one place.
              Just get started with your topic and start learning.
            </div>
          </div>
          <div class="col-4">
            <img src="static/Images/Study.png" alt="Image here" class="card-imge">
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-4">
            <img src="static/Images/skills.jpg" alt="Image here" class="card-imge">
          </div>
          <div class="col-8">
            <div class="cardtitle">
              Learn As Per You Level
            </div>
            <div class="card-desc">
              All the topics are devided into three level:
              <ul>
                <li>Beginner</li>
                <li>Intermediate</li>
                <li>Expert / master</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    
  </section>
  </main>
  <!-- Footer of webpage -->
  <footer class="page-footer font-small blue pt-4" style="background-image: linear-gradient(#007bff, #0000ff); color: white; text-decoration: none;">

    <div class="container-fluid text-center text-md-left">

      <div class="row">
        <div class="col-md-9 mt-md-0 mt-3 footer-title">
          <h5 class="main-title">K for Knowledge</h5>
          <p>Hope you learned something new today. Keep exploring.</p>
        </div>

        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Options</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="#">Explore</a>
            </li>
            <li>
              <a href="#">Support</a>
            </li>
            <li>
              <a href="#">Conntact Us</a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://phoenixcreation2.herokuapp.com/"> PhoenixCreation</a>
    </div>

  </footer>

  <!-- All javascript files   -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script>
  var know = document.getElementsByClassName('know')
  for (var i = 0; i < know.length; i++) {
    know[i].style = "animation-delay: "+(i*0.3 + 2)+"s;"
  }
</script>
</body>
</html>
